#
# testpmd -l 8-15 -n 4 -w 05:00.0 -w 05:00.1 -w 06:00.0 -w 06:00.1 -- --rxq=2 --txq=2 -i
#
description = 'A testpmd default simple configuration'

# Setup configuration
setup = {
	'devices': (
		'81:00.0 81:00.1',
		'85:00.0 85:00.1',
		),

	'opts': (
		'-b igb_uio',
		)
	}

# Run command and options
run = {
	'exec': (
		'sudo',
		'-E'
		),

	# Application name and use app_path to help locate the app
	'app_name': 'testpmd',

	# using (sdk) or (target) for specific variables
	# add (app_name) of the application
	# Each path is tested for the application
	'app_path': (
		'%(sdk)s/%(target)s/app/%(app_name)s',
		'./app/%(target)s/%(app_name)s',
		),

	'dpdk': (
		'-l 8-15',
		'-n 4',
		'--proc-type auto',
		'--log-level 8',
		'--socket-mem 2048,2048'
		),

	'blacklist': (
		#'-b 81:00.0 -b 81:00.1',
		#'-b 85:00.0 -b 85:00.1',
		'-b 81:00.2 -b 81:00.3',
		'-b 85:00.2 -b 85:00.3',
		'-b 83:00.0'
		),

	'app': (
		'--rxq=2',
		'--txq=2',
		),

	'misc': (
		'-i',
		)
	}
